/* Style sheet for Accounts.js */
.Accounts {
  margin: 0 auto;
  max-height: 100%;
  height: auto;
  max-width: 75%;
}
.AccountsFeed {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-height: 60%;
  height: auto;
  max-width: 750%;
}
.Placeholder {
  font-size: 50px;
}