/* Style sheet for Menu.js */
.Menu-logo {
  height: 80px;
}
.Menu-header {
  background-image: url('../images/BackgroundInspo.png');
  background-position: right top;
  height: 100px;
  padding: 1%;
  color: orange;
  position: sticky;
}
.logo {
  position: absolute;
  overflow: hidden;
  width: 35%;
  margin: auto;
  left: 5%;
}
.links {
  position: absolute;
  top: 35px;
  right: 2%;
  margin: 0 auto;
  max-height: 50%;
  height: auto;
  max-width: 100%;
  overflow-x: visible;
}
.link{
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  padding: 6% 5%;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
  outline: none;
}
.link:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.link:active{
  background-color: grey;
}