.App {
  text-align: left;
}
.App-logo {
  height: 80px;
}
.App-header {
  background-image: url('./BackgroundInspo.png');
  background-position: right top;
  background-attachment: fixed;
  height: 100px;
  padding: 20px;
  color: orange;
  position: sticky;
}
.navbar-nav {
  text-align: left;
  font-size: 1.25em;
}
.logo {
  width: 250px;
  height: 80px;
  margin: auto;
  position: fixed;
  top: 25px;
  left: 50px;
  border-radius: 5px;
  margin-right: 100px;
}
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
  position: fixed;
  top: 50px;
  left: 800px;
  display: inline;
}
li {
  float: left;
  border-right: 5px solid grey;

}
a:link, a:visited {
    background-color: orange;
    color: #1e99d5;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: grey;
}
li a.active {
  color: orange;
  background-color: #1e99d5;
}
  .App-intro {
  font-size: large;
}
.para1 {
    height: 120px;
    padding: 20px;
}
