/* Style sheet for Topics.js*/
.Topics {
  margin: 0 auto;
  max-height: 100%;
  height: auto;
  max-width: 75%;

}
.TopicFeed {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-height: 100%;
  height: auto;
  max-width: 100%;
}